<form method="POST" id="UploadTorrentForm" action="action.php?id=torrent&action=Edit_Torrent&torrentid={$torrentid}" >
	<fieldset>
	<legend accesskey="d">{_Torrent_Details}</legend>
	<table style="width:100%;border:1">
	<tr>
		<td style="width:50%">{_Name} :</td>
		<td>{$file_name}</td>
	</tr>
	</table>
	</fieldset>
	{template ajax_Torrent_Config}
	<fieldset>
	<legend accesskey="d">{_File_Setting}</legend>
	<table style="width:100%;border:1" id="filelist">
	<tr><td colspan="3" >{_Total_Size} : <span id="totalsize">{$size}</span></td></tr>
	{foreach $filearray $index $file}
	<tr id="files_{$index}"><td><input type="checkbox" id="files_{$index}" name="files[]" value="{$index}" {if $priolist[$index]>=1}checked="checked"{/if} /></td>
	<td><label for="files_{$index}">{$file['path']}</label></td>
	<td>{echo formatBytesToKBMGGB($file['size'])}</td>
	</tr>
	{/foreach}
	</table>
	</fieldset>
	<input type="submit" value="{_START}">
</form>
<script type="text/javascript">
$$('#filelist input[type=checkbox]').addEvent('change',function(){
	var size=formatSize(this.getParent('tr').getElements('td')[2].get('text'));
	console.log($('totalsize').get('text'));
	var newSize=(this.checked)?formatSize($('totalsize').get('html'))+size:formatSize($('totalsize').get('html'))-size;
	$('totalsize').set('html',HumanSize(newSize));
});
</script>