	<img src="" alt="" id="thisspeed">
			<script type="text/javascript">
			var speed_updateIntervals = 5;
			var updateGraph=function(){
				new Request.HTML({onComplete:function(t,e,h,j){
					$('thisspeed').src=(h);
				}}).
				get('ajax.php?action=tabs&tab=speedimg&torrentId={$torrentId}');
				graphtimer= setTimeout("updateGraph()",speed_updateIntervals*1000);
			}
			window.addEvent('TabReady', function() {
			updateGraph();
			}).addEvent('TabExit', function() {
				downloadingspeed[selecting]=$empty;
				uploadingspeed[selecting]=$empty;
				clearTimeout(graphtimer);
			});

			</script>