<form id="admin_setting_form" method="post" action="admin.php?op=updateConfigSettings" >
<div id="setting_info">
<div id="setting_right">
	<div id="setting_Display" class="mootabs_panel">
		<fieldset>
		<legend>{_Display_Options}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_Confirm_When_Delete_Torrent} :</td>
			<td><input type="checkbox" name="Confirm_Del_tor" {echo MakeDefault('Confirm_Del_tor','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Display_Current_Speed_in_Title} :</td>
			<td><input type="checkbox" name="speed_in_title" {echo MakeDefault('speed_in_title','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Display_Torrent_Search} :</td>
			<td><input type="checkbox" name="enable_search" {echo MakeDefault('enable_search','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Show_Server_Load} :</td>
			<td><input type="checkbox" name="show_ser_load" {echo MakeDefault('show_ser_load','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Show_Disk_Space} :</td>
			<td><input type="checkbox" name="show_disk_space" {echo MakeDefault('show_disk_space','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Refresh_interval} :</td>
			<td><input type="text" class="num" size="3" {echo MakeDefault('page_refresh','text')} name="page_refresh"/>s</td>
		</tr>
		</table>
		</fieldset>
	</div>
	<div id="setting_Directories" class="mootabs_panel">
		<fieldset>
		<legend>{_Directories}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_Enable_File_download} :</td>
			<td><input type="checkbox" name="enable_file_dl" {echo MakeDefault('enable_file_dl','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Enable_Download_Compressed_Dir} :</td>
			<td><input type="checkbox" name="enable_dl_compress_dir" {echo MakeDefault('enable_dl_compress_dir','checkbox')} value="1"/></td>
		</tr>
		</table>
		</fieldset>
		<fieldset>
		<legend>{_Preview}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_Allow_text_Preview} :</td>
			<td><input type="checkbox" name="allow_text_preview" {echo MakeDefault('allow_text_preview','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Allow_pic_Preview} :</td>
			<td><input type="checkbox" name="allow_pic_preview" {echo MakeDefault('allow_pic_preview','checkbox')} value="1"/></td>
		</tr>
		</table>
		</fieldset>
	</div>
	<div id="setting_Connection" class="mootabs_panel">
		<fieldset>
		<legend>{_Port}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td>{_Port_LIMIT} :</td>
			<td><input type="text" name="limitminport" id="limitminport" class="num" size="5" {echo MakeDefault('limitminport','text')} /> -<input type="text" name="limitmaxport" id="limitmaxport" class="num" size="5" {echo MakeDefault('limitmaxport','text')}  /> <button class="checkport">[{_Check_Ports}]</button></td>
		</tr>
		</table>
		</fieldset>
		<fieldset>
		<legend>{_encrypted_connections}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_Allow_Encrypted_Connections} :</td>
			<td><input type="checkbox" name="crypto_allowed" {echo MakeDefault('crypto_allowed','checkbox')}  value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Only_Allow_Encrypted_Connections} :</td>
			<td><input type="checkbox" name="crypto_only" {echo MakeDefault('crypto_only','checkbox')}  value="1"/></td>
		</tr>
		</table>
		</fieldset>
	</div>
	<div id="setting_BitTorrent" class="mootabs_panel">
		<fieldset>
		<legend>{_BitTorrent}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_Download_Path} :</td>
			<td><input type="text" size="20" name="path" value="{$cfg['path']}"   class="path {if validatePath($cfg['path'])}value {else}error{/if}"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Force_Download_In_Home_Dir} :</td>
			<td><input type="checkbox" name="force_dl_in_home_dir" {echo MakeDefault('force_dl_in_home_dir','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Enable_Make_Torrent} :</td>
			<td><input type="checkbox" name="enable_maketorrent" {echo MakeDefault('enable_maketorrent','checkbox')} value="1"/></td>
		</tr>
		</table>
		</fieldset>
		<fieldset>
		<legend>{_When_Adding_Torrents}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_Auto_Start} :</td>
			<td><input type="checkbox" name="auto_start" {echo MakeDefault('auto_start','checkbox')} value="1"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_Smart_Select} :</td>
			<td><input type="checkbox" name="smart_select" {echo MakeDefault('smart_select','checkbox')} value="1"/></td>
		</tr>
		</table>
		</fieldset>
	</div>
	<div id="setting_CronRobot" class="mootabs_panel">
		<fieldset>
		<legend>{_CronRobot_Setting}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_CronRobot_Stat} :</td>
			<td><span id="cronstat"></span></td>
		</tr>
		<tr>
			<td style="width:80%">{_CronRobot_Control} :</td>
			<td><button id="CronRobot_start">{_CronRobot_Start}</button><button id="CronRobot_stop">{_CronRobot_Stop}</button></td>
		</tr>
		</table>
		</fieldset>
	</div>
	<div id="setting_Queueing" class="mootabs_panel">
		<fieldset>
		<legend>{_Queueing_Setting}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{Enable_Queue_Manager} :</td>
			<td><input type="checkbox" name="aaa"/></td>
		</tr>
		<tr>
			<td style="width:80%">{tfQManager_Path} :</td>
			<td><input type="text" size="20" name="bbb"/></td>
		</tr>
		<tr>
			<td style="width:80%">{Max_Server_Threads} :</td>
			<td><input type="text" size="3" class="num" name="ccc"/></td>
		</tr>
		<tr>
			<td style="width:80%">{Max_User_Threads} :</td>
			<td><input type="text" size="3" class="num" name="ddd"/></td>
		</tr>
		<tr>
			<td style="width:80%">{Polling_Interval} :</td>
			<td><input type="text" size="3" class="num" name="eee"/></td>
		</tr>
		</table>
		</fieldset>
	</div>
	<div id="setting_Advanced" class="mootabs_panel">
		<fieldset>
		<legend>{_Path_Setting}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{_Python_Path} :</td>
			<td><input type="text" size="20" name="pythonCmd" value="{$cfg['pythonCmd']}"   class="checkfile {if validateFile($cfg['pythonCmd'])}value {else}error{/if}"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_btphptornado_Path} :</td>
			<td><input type="text" size="20" name="btphpbin" value="{$cfg['btphpbin']}"   class="checkfile {if validateFile($cfg['btphpbin'])}value {else}error{/if}"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_btmakemetafilepy_Path} :</td>
			<td><input type="text" size="20" name="btshowmetainfo" value="{$cfg['btshowmetainfo']}"   class="checkfile {if validateFile($cfg['btshowmetainfo'])}value {else}error{/if}"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_loadavg_Path} :</td>
			<td><input type="text" size="20" name="loadavg_path" value="{$cfg['loadavg_path']}"  class="checkfile {if validateFile($cfg['loadavg_path'])}value {else}error{/if}"/></td>
		</tr>
		</table>
		</fieldset>
		<fieldset>
		<legend>{_Others}</legend>
		<table style="width:100%;border:1">
		<tr>
			<td style="width:80%">{Extra_BitTornado_Commandline} :</td>
			<td><input type="text" size="20" name="cmd_options" value="{$cfg['cmd_options']}"/></td>
		</tr>
		<tr>
			<td style="width:80%">{_SQL_Debug} :</td>
			<td><input type="checkbox" name="debug_sql" {echo MakeDefault('debug_sql','checkbox')} value="1"/></td>
		</tr>
		</table>
		</fieldset>
	</div>
</div>
<div id="setting_left">
	<div>
	<ul class="mootabs_title">
		<li title="setting_Display"><div>{_Display}</div></li>
		<li title="setting_Directories"><div>{_Directories}</div></li>
		<li title="setting_Connection"><div>{_Connection}</div></li>
		<li title="setting_BitTorrent"><div>{_BitTorrent}</div></li>
		<li title="setting_CronRobot"><div>{_CronRobot}</div></li>
		<li title="setting_Queueing"><div>{_Queueing}</div></li>
		<li title="setting_Advanced"><div>{_Advanced}</div></li>
	</ul>
	</div>
</div>
</div>

<script type="text/javascript">
settingtab	=	new mootabs('setting_info');
settingtab.activate('setting_Display');
$$('input.checkfile').each(function(input){
	input.addEvent('keyup',function(e){
		new Request({method: 'get', url: 'admin.php?op=checkfile',onSuccess:function(a){
			if(a==1){
				input.addClass('value').removeClass('error');
			}else{
				input.addClass('error').removeClass('value');
			}
		}}).send('file='+input.value);
	});
});
$$('input.path').each(function(input){
	input.addEvent('keyup',function(e){
		new Request({method: 'get', url: 'admin.php?op=checkpath',onSuccess:function(a){
			if(a==1){
				input.addClass('value').removeClass('error');
			}else{
				input.addClass('error').removeClass('value');
			}
		}}).send('path='+input.value);
	});
});
$$('button.checkport').addEvent('click',function(e){
	e = new Event(e); 
	e.stop();
	CheckPort($('limitminport').value,$('limitmaxport').value);
});
$('cronstat').addEvents({
	'mouseenter':function(){
		this.setStyle('cursor','pointer');
	},'mouseleave':function(){
		this.setStyle('cursor','default');
	},'click':function(){
		update_CronRobot_Stat();
	}
});
$('CronRobot_start').addEvent('click',function(e){
	e = new Event(e); 
	e.stop();
	CronRobotControl('start');
});
$('CronRobot_stop').addEvent('click',function(e){
	e = new Event(e); 
	e.stop();
	CronRobotControl('stop');
});
var update_CronRobot_Stat=function(){
	$('cronstat').set('html','Loading..').load('ajax.php?action=tips&id=robotstat');
}
var CronRobotControl=function(action){
	$('cronstat').set('html','Loading..');
	new Request({
		method: 'get', 
		url: 'croncontrol.php',
		onSuccess:function(){
			update_CronRobot_Stat();
		}
	}).send('op='+action);
}

update_CronRobot_Stat();
</script>
	<input type="Submit" value="{_UPDATE}">
</form>