<form method="POST" id="UploadTorrentForm" action="action.php?id=torrent&action=Edit_Torrent&torrentid={$torrentid}" >
	<fieldset>
	<legend accesskey="d">{_Torrent_Details}</legend>
	<table style="width:100%;border:1">
	<tr>
		<td style="width:50%">{_Name} :</td>
		<td>{$file_name}</td>
	</tr>
	</table>
	</fieldset>
	{template ajax_Torrent_Config}
	<fieldset>
	<legend accesskey="d">{_File_Setting}</legend>
	<table style="width:100%;border:1">
	{foreach $filearray $index $file}
	<tr><td style="width:100%"><input type="checkbox" id="files_{$index}" name="files[]" value="{$index}" {if $priolist[$index]>=1}checked="checked"{/if} />
	<label for="files_{$index}">{$file['path']}</label></td></tr>
	{/foreach}
	</table>
	</fieldset>
	<input type="submit" value="{_START}">
</form>