	<table style="width:100%;border:1">
        <tr>
            <td >Download location:</td>
            <td ><SELECT name="location">
			{echo $arDirTree = dirTree2 ($cfg["path"].($cfg['force_dl_in_home_dir']?$ownername:'').'/', 1) ;}</SELECT></td>
        </tr>
	</table>
	<fieldset>
	<legend accesskey="d">{_TRAFFIC_SETTING}</legend>
	<table style="width:100%;border:1">
	<tr>
		<td style="width:50%">{_Max_Upload_Rate} :</td>
		<td><input type="text" name="rate" class="num" size="5" value="{$Default_max_upload_rate}" />KB/s</td>
	</tr>
	<tr>
		<td>{_Max_Download_Rate} :</td>
		<td><input type="text" name="drate" class="num" size="5" value="{$Default_max_download_rate}"  />KB/s</td>
	</tr>
	<tr>
		<td style="width:50%">{_Max_Uploads_Connections} :</td>
		<td><input type="text" name="maxuploads" class="num" size="5" value="{$Default_max_uploads}" /></td>
	</tr>
	</table>
	</fieldset>
	<fieldset>
	<legend accesskey="d">{_SEEDING_SETTING}</legend>
	<table style="width:100%;border:1">
	<tr>
		<td>{_KillWhen} :</td>
		<td><input type="radio" name="runtime" id="runtime_done" {if $Default_sharekill <0} checked="checked" {/if} /><label for="runtime_done">{_Die_When_Done}</label>
			<input type="radio" name="runtime" id="runtime_until" {if $Default_sharekill >=0} checked="checked" {/if} /><label for="runtime_until">{_Die_Until_Ratio}</label>
			<input type="text"  name="sharekill" class="num" size="6" value="{$Default_sharekill}" />%
		</td>
	</tr>
	</table>
	</fieldset>
	<fieldset>
	<legend accesskey="d">{_OTHER_SETTING}</legend>
	<table style="width:100%;border:1">
	<tr>
		<td>{_Port} :</td>
		<td><input type="text" name="minport" id="minport" class="num" size="5" value="{$Default_minport}" /> -<input type="text" name="maxport" id="maxport" class="num" size="5" value="{$Default_maxport}" /><button class="checkport">[{_Check_Ports}]</button></td>
	</tr>
	<tr>
		<td>{_Rerequest_Interval} :</td>
		<td><input type="text" name="rerequest" class="num" size="5" value="{$Default_rerequest_interval}" />s</td>
	</tr>
	</table>
	</fieldset>
	
	
	<script type="text/javascript">
		$$('input.tf_file').each(function(input){
			
		});
		$$('button.checkport').addEvent('click',function(e){
	e = new Event(e); 
	e.stop();
	CheckPort($('minport').value,$('maxport').value);
});
	</script>