<table class="user_tips">
<tr>
	<td>{_Name} : </td>
	<td>{$UsrData['user_id']}</td>
</tr>
<tr>
	<td>{_USERTYPE} : </td>
	<td>{$UsrData['user_level_text']}</td>
</tr>
<tr>
	<td>{_JOINED} : </td>
	<td>{$UsrData['last_visit_text']}</td>
</tr>
<tr>
	<td>{_TotalTorrent} : </td>
	<td>{$UsrData['totaltorrent']}</td>
</tr>
<tr>
	<td>{_QueuedTorrent} : </td>
	<td>{$TotalQueue}</td>
</tr>
<tr>
	<td>{_TotalTransfer} : </td>
	<td>{echo formatBytesToKBMGGB($TotalTransfer['total']*1024*1024)} 
	({_Download} : {echo formatBytesToKBMGGB($TotalTransfer['down']*1024*1024)} / 
	{_Upload} : {echo formatBytesToKBMGGB($TotalTransfer['up']*1024*1024)})</td>
</tr>
{if $isadmin}
<tr>
	<td>{_LASTVISIT} : </td>
	<td>{$UsrData['time_created_text']}</td>
</tr>
{/if}
<tr>
	<td colspan="2">
	<img src="{$imgsrc}">
	</td>
</tr>
</table>