   div.ddmenu {
   	position: absolute;
   	top: 0;
   	left: 0;
   	font-family: verdana;
   }

   div.ddmenu a {
   	display: block;
   	text-decoration: none;
   	cursor: default;
   	outline: none;
   }
   
   .ddmenu * {	margin: 0; padding: 0; }
   
   .ddmenu li { list-style-image:none; list-style-position:outside; list-style-type:none; }  
   .ddmenu li:focus { outline-color:invert; outline-style:none; outline-width:0pt; } 
   
   .ddmenu li.title {
   	font-size: 12px;
   }   
   
   .ddmenu li.sepline {
   	height: 1px;
   	padding: 0;
   	overflow: hidden;
   	display: block;
   	font-size: 1px;
   }


   
      /* defstyle */

      .ddmenu.def {
         width: 9em;
         background-color: #f9ffff;
         border: 1px solid #888;
         border-right: 2px solid #444;
         border-bottom: 2px solid #444;         
         padding: 1px 1px 1px 1px;      
      }
      
      *+html .ddmenu.def { border: 2px outset #fff; }
      
      .ddmenu.def a {
      	color: #111;
      	padding: 2px 27px 4px 17px;
      	margin: 0;
      	border: 1px solid #f9f8f7;
      	font-size:11px;
      }
      
      .ddmenu.def a:visited  { color: #333; } 
      
      .ddmenu.def a.disabled {
      	opacity: 0.25;
      	filter: alpha(opacity=25);
      } 
      
      .ddmenu.def li.sepline {
         min-width: 14em;
      	border-bottom: 1px solid #eed;
      	background: #aaa;
      	margin: 1px 1px 0 1px;
      	line-height: 1px !important;
      }      
   

      .ddmenu.def li.title {
         margin: 3px 1px 0 1px;
         padding: 3px 25px 3px 17px;
         color:grey;
         text-align:left;
         cursor:default;
         font-weight:bold;
         border-bottom:1px solid #eb4;
      	font-size:11px;  
         color:black; 
      }
      

         /*icons*/

         .ddmenu.def a.objects {
            padding-left: 24px;
            background: url(../images/objects-16x16x32b.png) 4px 50% no-repeat;
         }

         .ddmenu.def a.letter {
            padding-left: 24px;
            background: url(../images/text-16x16x32b.png) 4px 50% no-repeat;
         }         
         
         .ddmenu.def a.umbrella {
            padding-left: 24px;
            background: url(../images/umbrella-16x16x32b.png) 4px 50% no-repeat;
         }
      .ddmenu.def a:hover {
         background-color: #AFD6FF;
      }
      
      
      
      
