div#DirListContainer{
	width:100%;
	height:600px;
	overflow:scroll;
}

div.DirList{
	width:100%;
	height:30px;
}
div.DirList div{
	float:left;
}
	div.icon{
		width:10%;
	}
	div.filename{
		cursor:default;
		width:60%;
		height:1.1em;
		overflow:hidden;
		color:#000;
	}
	div.filetype,div.filesize{
		width:10%;
		height:1.1em;
		overflow:hidden;
		color:#666;
	}
	div.selected{
		background: #007AFA;
	}
	div.selected {
		color:#fff;
		overflow:visible;
	}
		
img.icon{
	height:25px;
	width:25px;
	border:0px;
}

.dragOver{
	background: #007AFA;
}
