.MSitem{
}
.MSover{
	cursor:pointer;
}
.MSselected{
	background-color:#333333;
	color:#fff
}
.MScontainer{
	border:2px solid #ddccdd;
	padding:5px;
}
.invisible{
	display:none;
}
#ms_torrent_multiselect1{
	overflow:hidden;
}
.user_tips{
	background-color:#fff;
	border:#ccc solid 1px;
	padding: 4px;
}