
<html>
<head>
<link href="install/install.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/mootools-1.2-core.js" charset="utf-8"></script>
<script type="text/javascript" src="js/mootools-1.2-more.js" charset="utf-8"></script>
</head>
<body>
<div id="loading">
loading..... please wait
</div>
<div id="navbar">
	<div>
	Welcome
	</div>
	<div>
	Server Requirement
	</div>
	<div>
	Config.php
	</div>
	<div>
	Check Writable
	</div>
	<div>
	Creat Database
	</div>
	<div>
	Finish
	</div>
</div>

<div id="container">
Welcome to Torrentflux installer, <br />
please click next to continue.
</div>

<div id="controller">
	<button id="reload">reload</button>
	<button id="next">next</button>
</div>

<script  type="text/javascript">
window.addEvent('domready', function() {
	navbars=$('navbar').getElements('div');
//controller
	step=0;
	navbars[step].setStyle('background','#91FF92');
	containers=$('container');
	$('next').addEvent('click', function(e) {
		ShowLoading(1);
		e = new Event(e);
		e.stop();
		this.fireEvent('jsstep'+step);
		ShowLoading(0);
		console.log(step);
	});
	$('reload').addEvent('click', function(e) {
		ShowLoading(1);
		e = new Event(e);
		e.stop();
		step--;
		$('next').fireEvent('jsstep'+step);
		ShowLoading(0);
		console.log(step);
	});

	//js steps
	$('next').addEvent('jsstep0', function(e) {
		new Request({url:'install.php?action=checkPHP',
		onSuccess:function(text,xml){containers
			containers.set('html',text);
			},
		evalScripts :true
		}).send();
	});
	$('next').addEvent('jsstep1', function(e) {
		new Request({url:'install.php?action=checkDatabaseConfig',
		onSuccess:function(text,xml){containers
			containers.set('html',text);
			},
		evalScripts :true
		}).send();
	});
	$('next').addEvent('jsstep2', function(e) {
		new Request({url:'install.php?action=CheckWritable',
		onSuccess:function(text,xml){containers
			containers.set('html',text);
			},
		evalScripts :true
		}).send();
	});
	$('next').addEvent('jsstep3', function(e) {
		new Request({url:'install.php?action=CreatDB',
		onSuccess:function(text,xml){containers
			containers.set('html',text);
			},
		evalScripts :true
		}).send();
	});
	
	ShowLoading(0);
});

function ShowLoading($isloading){
	if($isloading){
		$('loading').setStyle('display','inline');
	}else{
		$('loading').setStyle('display','none');
	}
}</script>
</body>
</html>
